.dotContainer {
    position: absolute;
    bottom: 10px;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    gap: 7px;
}

button.dot {
    color: #ffffff99;
}

.dot svg {
    width: 6px;
    height: 6px;
}

button.activeDot {
    color: #FFF;
}